absl-py==2.3.1
alembic==1.18.4
altair==5.5.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
appnope==0.1.4
APScheduler==3.11.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
attrs==25.3.0
babel==2.16.0
backtrader==1.9.78.123
beartype==0.22.4
beautifulsoup4==4.14.3
bleach==6.2.0
blinker==1.9.0
cachetools==5.5.2
catalogue==2.0.10
certifi==2026.2.25
cffi==2.0.0
cfgv==3.4.0
charset-normalizer==3.4.7
click==8.3.2
cloudpickle==3.1.2
colorama==0.4.6
comm==0.2.2
confection==0.1.5
contourpy==1.3.2
curl_cffi==0.13.0
cycler==0.12.1
debugpy==1.8.14
decorator==5.2.1
deepdiff==8.6.1
defusedxml==0.7.1
dill==0.4.0
distlib==0.4.0
executing==2.2.0
fastapi==0.135.3
fastcore==1.8.14
fastjsonschema==2.21.1
feedparser==6.0.11
filelock==3.19.1
Flask==2.3.3
flatbuffers==25.9.23
fonttools==4.57.0
fqdn==1.5.1
frozendict==2.4.7
fsspec==2025.9.0
fuzzywuzzy==0.18.0
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
google-pasta==0.2.0
grpcio==1.76.0
h11==0.16.0
h5py==3.15.1
httpcore==1.0.9
httpx==0.28.1
icecream==2.1.8
identify==2.6.15
idna==3.11
imageio==2.37.0
imgaug==0.4.0
iniconfig==2.3.0
ipykernel==6.29.5
ipython==9.1.0
ipython_pygments_lexers==1.1.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
json5==0.12.0
jsonlines==4.0.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.1
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
keras==3.11.3
kiwisolver==1.4.8
lazy_loader==0.4
Levenshtein==0.27.1
libclang==18.1.1
llvmlite==0.47.0
loguru==0.7.3
lovely-numpy==0.2.17
lovely-tensors==0.1.19
lxml==6.0.4
Mako==1.3.10
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mergedeep==1.3.4
mistune==3.1.3
ml_dtypes==0.5.3
mpmath==1.3.0
multitasking==0.0.12
namex==0.1.0
narwhals==1.36.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.5
newsapi-python==0.2.7
nltk==3.9.4
nodeenv==1.9.1
notebook==7.4.1
notebook_shim==0.2.4
numba==0.65.0
numpy==2.4.4
opencv-python==4.10.0.84
opt_einsum==3.4.0
optree==0.17.0
orderly-set==5.5.0
overrides==7.7.0
packaging==26.0
pandas==3.0.2
pandocfilters==1.5.1
parso==0.8.4
peewee==4.0.4
pexpect==4.9.0
pillow==11.0.0
platformdirs==4.9.4
pluggy==1.6.0
plum-dispatch==2.6.0
pre_commit==4.3.0
prometheus_client==0.21.1
prompt_toolkit==3.0.51
protobuf==7.34.1
psutil==7.0.0
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==19.0.1
pycparser==3.0
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
pydeck==0.9.1
Pygments==2.20.0
pyparsing==3.2.3
pytest==9.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-json-logger==3.3.0
python-Levenshtein==0.27.1
pytz==2026.1.post1
PyYAML==6.0.2
pyzmq==26.4.0
RapidFuzz==3.14.2
referencing==0.36.2
regex==2026.4.4
requests==2.33.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.2.0
river==0.23.0
rpds-py==0.24.0
scikit-image==0.25.2
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
selectivesearch==0.4
Send2Trash==1.8.3
setuptools==79.0.1
sgmllib3k==1.0.0
shap==0.51.0
shapely==2.1.2
shellingham==1.5.4
six==1.17.0
slicer==0.0.8
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8.3
SQLAlchemy==2.0.49
srsly==2.5.1
stack-data==0.6.3
starlette==1.0.0
streamlit==1.44.1
sympy==1.14.0
ta==0.11.0
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.2.0
terminado==0.18.1
textblob==0.20.0
threadpoolctl==3.6.0
tifffile==2025.10.16
tinycss2==1.4.0
tkcalendar==1.6.1
toml==0.10.2
torch==2.8.0
torch_snippets==0.560
torchvision==0.23.0
tornado==6.4.2
tqdm==4.67.3
traitlets==5.14.3
typer==0.20.0
types-python-dateutil==2.9.0.20241206
typing==3.7.4.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2023.3
tzlocal==5.3.1
upstox-python-sdk==2.21.0
uri-template==1.3.0
urllib3==2.6.3
uuid==1.30
uvicorn==0.44.0
vaderSentiment==3.3.2
virtualenv==20.35.4
wasabi==1.1.3
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.9.0
websockets==16.0
Werkzeug==2.3.7
wheel==0.45.1
wrapt==2.0.0
xmltodict==1.0.2
yfinance==1.2.0
